.list {
  display: inline-block;
  margin-right: 30px;
  margin-bottom: 50px;
  min-height: 500px;
  min-width: 300px;
  vertical-align: top;
  box-shadow: 5px 5px 5px rgba(0,0, 0, 0.25);
  padding-bottom: 20px;
}

.add-card-btn {
  display: block;
  padding-top: 6px;
  border-radius: 100%;
  width: 44px;
  height: 35px;
  font-size: 30px;
  background: #DE2828;
  color: white;
  text-align: center;
  text-decoration: none;
  right: 20px;
  bottom: 20px;
  cursor: pointer;
  margin-left: 43%;
  opacity: 0.5;
  transition: opacity 0.5s;
}

.add-card-btn:hover {
  opacity: 1;
  transition: opacity 0.5s;
}

.add-list-btn {
  background: blue;
  vertical-align: top;
  display: inline-block;
  margin-left: 152px;
  margin-top: 60px;
  padding-top: 6px;
  border-radius: 100%;
  width: 44px;
  height: 35px;
  font-size: 30px;
  color: white;
  text-align: center;
  text-decoration: none;
  right: 20px;
  bottom: 20px;
  cursor: pointer;
  opacity: 0.5;
  transition: opacity 0.5s;
}

.add-list-btn:hover {
  opacity: 1;
  transition: opacity 0.5s;
}
